@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary: #48BEFF;
  --secondary: #3DFAFF;
  --accent: #E0AFA0;

  --accent-text: #fff;
  --primary-text: #463F3A;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
  color: var(--primary-text);
}

header {
  /* background-color: var(--primary);
  color: var(--accent-text);
  padding: 1rem;
  border-bottom: 8px solid var(--secondary); */
}

.navbar  {
  background-color: var(--primary);
  color: var(--accent-text);
  padding: 1rem;
  border-bottom: 8px solid var(--secondary);

}

.menu {
  background-color: var(--secondary);
  padding: 0 1rem .5rem 1rem;
  margin: 0;
}
.menu li {
  list-style-type: none;
  padding: 1rem;
  background-color: var(--primary);
  font-size: 1rem;
}

.menu li a {
  color: var(--accent-text);
  text-decoration: none;
}

header h1 {
  margin: 0;
}
.navbar .material-symbols-outlined {
  font-size: 2.5rem;
}

main {
  padding: 1rem;
  position: relative;
  min-height: 350px;
  max-width: 960px;
  margin: 0 auto;
}


h1, h2, h3 {
  margin: 0;
}

footer {
  background-color: var(--primary);
  color: var(--accent-text);
  padding: 1rem;
  border-top: 5px solid var(--secondary);
}

header button {
  border:  none;
}

button {
  background-color: var(--primary);
  color: var(--accent-text);
  border: none;
  padding: .5rem 2rem;
  /* border-top: 3px solid var(--accent); */
  border-bottom: 3px solid var(--secondary);
  border-radius: 5px;
}

.action-box {
  width: 100%;
  max-width: 250px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.single-column {
  grid-template-columns: 1fr;
}

.half-gap {
  gap: .5rem;
}

.space-between {
  justify-content: space-between;
}

.vertical-center {
  align-items: center;
}

.text-centered {
  text-align: center;
}

.hide {
  display: none;
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-text);
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /*Safari */
  animation: spin 2s linear infinite;
  margin: 1rem auto;
}

form {
  display: grid;
  gap: .5rem;
}

form label, form input, form select, form textarea {
  display: block;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
}

form button {
  font-size: 1rem;
}

.required {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: var(--primary);
  color: var(--accent-text);
}

table th, table td {
  padding: .5rem;
  border: 1px solid var(--primary);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.fade-down {
  animation: fadeDown .5s ease-in-out;
}

.gap {
  gap: 1rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
}

.modal {
  background-color: var(--primary);
  color: var(--accent-text);
  padding: 1rem;
  border: 5px solid var(--secondary);
  border-radius: 5px;
  max-width: 500px;
  margin: 1rem auto;
  width: 100%;
  display: grid;
} 

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  color: var(--accent-text);
  border: 1px solid var(--accent-text);
  padding: .5rem 1rem;
  border-radius: 5px;
}

.icon-button:hover {
  background-color: var(--accent-text);
  color: var(--primary);
}

.modal-content {
  margin: 1rem 0;
}

.modal-button {
  background-color: var(--accent);
  color: var(--accent-text);
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
}

.modal-button:hover {
  background-color: var(--secondary);
}

body.modal-open {
  overflow: hidden;
}

.modal-body {
  overflow: auto;
  max-height: 80vh;
}